header{
    grid-area: cabe;
    border: solid red 2px;
}
main{
    grid-area: prin;
    border: solid blue 2px;
}
aside{
    grid-area: brac;
    border: solid green 2px;
}
footer{
    grid-area: roda;
    border: solid pink 2px;
}
body{
    display: grid;
    grid-template-areas:
    "cabe cabe"
    "brac prin"
    "roda roda";
    grid-template-columns: 150px auto;
    grid-template-rows: 200px auto 150px;
}
.caixa_mae{
    border: red 2px solid;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    height: 400px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 3px 6px 9px red;
    transition: 3s;
}